@model TFR.WebServices.Models.Responses.WebServiceResponseModel

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div>
    <h4>WebServiceResponseModel</h4>
    <hr />
    @foreach (var item in Model.Matches)
    {
        <tr>
            <td>
                @item.Name
            </td>
        </tr>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Page)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Page)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@using (Html.BeginForm("CalculateJourney", "Home"))
{
    <div class="col-lg-12 title">
        <h2>Select your Station(s)</h2>
    </div>
    <div class="form-horizontal col-md-8">
        <div class="form-group">
            <div class="col-md-8 dropdown">
                Departure Station: @Html.DropDownList("Last Ten Years", , "Please select a year")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                Arrival Station: @Html.DropDownList("arrStations", "Please Select a station")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Calculate Journey" class="btn btn-warning btn-lg" />
            </div>
        </div>
    </div>
}