@model TfrRedo.ViewModels.IndexPageViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>IndexPageViewModel</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-8">
            @Html.EditorFor(model => model.Departure.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Departure Station" } })
            @Html.ValidationMessageFor(model => model.Departure.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8">
            @Html.EditorFor(model => model.Arrival.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Arrival Station" } })
            @Html.ValidationMessageFor(model => model.Arrival.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
